@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animations */
@keyframes slide {
  0% { transform: translateY(100%); }
  10% { transform: translateY(0); }
  90% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

.animate-slide {
  animation: slide 3s infinite; /* Directly set the animation property */
}

/* Custom MUI Tab Styles */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #8A1538 !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #8A1538 !important;
}

/* Swiper Styles */
.swiper-container,
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide-home {
  font-size: 18px;
  width: 250px !important;
  height: 300px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiperSlideThumb {
  height: 100px !important;
}

/* No Scrollbar Styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
