@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% { transform: translateY(100%); }
  10% { transform: translateY(0); }
  90% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

.animate-slide {
  animation: slide 3s infinite;
}

.swiper-container {
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  width: 250px !important;
  height: 300px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.swiper-wrapper {
  justify-content: center;
  gap: 20px;
}